body
{
    font-family: "Comfortaa", sans-serif;
}
.heading
{
    width: fit-content;
    margin:0px;
    text-decoration: underline;
}
.navbar
{
    background-color: #a9a87b73;
}
p
{
   
}
#Herosection
{
    width:100%;
    height: 85vh;
    background:#8d926473;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heroSectionContent
{
    width:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.myImageCircle
{
    border-radius:50%;
    height:200px;
    width:200px;
    border: 5px white solid;
}
.heroSectionContent p  
{
    font-weight: 600;
    font-size: 24px;
}

.focus-text
{
    font-weight: 700;
    font-size: 40px;
}
.heroButtons
{
    background: black;
    color:whitesmoke;
    padding: 10px 15px;
    font-size: 15px;
}
#aboutMeSection
{   
    display:flex;
    justify-content: space-between;
    width:97%;
    margin: auto;
}
.aboutP1,.aboutP2
{  
    width: 50%;
    font-size: 25px;
    font-size: 500;
}
.aboutP1
{
    text-align: center;
}
.aboutP1 img
{
    border-radius: 10px;
}
#skillsSection
{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skillsDiv
{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    min-height:100px ;
}
.skillsDiv .p1
{
    width:25%;   
    background: #bbbda3;
    text-align: center;
    font-size:25px;
    font-weight: 700;
}
.skillsDiv .p2
{
    width:75%;  
    font-size: 23px; 
}
.skillsList
{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
#projectsecion
{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.project
{
    width:85%;
    display:flex;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.project .p1
{
    width: 50%;
    text-align: center;
}
.project .p1 img
{
    border-radius: 10px;
}
.project .p2
{
    width: 50%;
}
.githubButton
{
    background:black ;
    color: white;
    padding: 0px 15px;
    font-size: 18px;
    font-weight: 500;
}
.demoButton
{
    background:#F8F5E9;
    padding: 0px 15px;  
    font-size: 18px;
    font-weight: 500;
}

#ContactSection
{
    width:90%;
    margin: auto;
    min-height:200px;
    border-radius: 15px;
    background: #bbbda3 ;
    padding: 10px;
}
.contactDivone
{
    background: rgb(156, 112, 156);
    width: 50%;
    color: rgb(15, 13, 13);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.contactDivTwo
{
    background: rgb(149, 72, 106);
    width: 30%;
    color: rgb(15, 13, 13);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.contactDivThree
{
    background: rgb(94, 123, 178);
    width: 40%;
    color: rgb(15, 13, 13);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

.contactDivTwo:hover,.contactDivone:hover,.contactDivThree:hover
{
    cursor: pointer;
}

.contactButtons
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer
{
   background: black;
   padding: 25px;
   color: white;
   text-align: center;
   margin-top: 75px;
}

/*Tablet Version*/
@media only screen and (max-width768px)
{
    .navbar{
        width: 100%;
    }
    #aboutMesecction{
        flex-direction: column;
        border: 1px solid black;
    }
    #aboutMesecction{
        flex-direction: column;
    }
    .aboutP1,.aboutP2
    {  
        width: 50%;
        font-size: 25px;
        font-size: 500;
    }
    .aboutP1
    {
        text-align: center;
    }
    .aboutP1 img
    {
        border-radius: 10px;
    } 
    .aboutP2
    {
        padding: 10px;
        margin-top: 15px;
        text-align: left;
    }
    .skillsDiv{
        flex-direction: column;
    }
    .skillsList{
        width: 100%;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .skillsDiv .p1
    {
        width:100%;   
        background: #bbbda3;
        text-align: center;
        font-size:25px;
        font-weight: 700;
    }
    .skillsDiv .p2
    {
        width:100%;  
        font-size: 23px; 
    }

    .project
{
    flex-direction: column;
}
.project .p1
{
    width: 100%;
}
.project .p2
{
    width: 100%;
}
.contactButtons
{
    flex-direction: column;
}
.contactDivone
{
    background: rgb(156, 112, 156);
    width: 50%;
    color: rgb(15, 13, 13);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.contactDivTwo
{
    background: rgb(149, 72, 106);
    width: 30%;
    color: rgb(15, 13, 13);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.contactDivThree
{
    background: rgb(94, 123, 178);
    width: 40%;
    color: rgb(15, 13, 13);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.contactDivone
{
    width: 100%;
}
.contactDivTwo
{
    width: 100%;
}
.contactDivThree
{
    width: 100%;
}

}   
